	*, html, body{
			margin: 0;
			padding: 0;
			transition: all .1s ease-out;
			box-sizing: border-box;
				font-family: 'abel';
		}
.user-count{
	text-align: left;
	width: 500px;
	padding: 5px 0px;
	margin: 0 auto;
	font-family: 'abel';
	color: #535353;
}
			#container{
				width: 500px;
				margin: 0 auto;
				overflow: hidden;
				box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
				border-radius: 5px;
				display:flex;
				flex-wrap: wrap;
			}
			body{
				background-color: #f6f4f1;
			}
			.box{
				width: 25px;
				height: 25px;
				background-color: rgb(255, 255, 255);
			}
			header{
				text-align: center;
				font-family: 'abel';
				color: #415D5D;
				margin-top: 20px;
			}
			footer{
				text-align: center;
				font-family: 'abel';
				color: #b6b4b1;
				margin-top: 10px;
			}
			footer a{
				color: #969491
			}
.button {
	height: 50px;
	width: 125px;
	background-color: #969491;
	color:white;
	text-align: center;
	font-family: 'abel';
	font-size: 16px;
	line-height: 50px;
	cursor: pointer;
}
.button:hover {
	opacity: .8;
}
			@media screen and (max-width: 30rem){
				#container{
					width:100%;
					margin-top:0;
					border: none;
					height: 100vh !important;
				}
			}

.instructions__container {
	position: fixed;
	background: rgba(0,0,0,.3);
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.instructions {
	background: rgba(246, 244, 241, 1);
	position: fixed;
	width: 275px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #415D5D;
	padding: 1rem 2rem;
	line-height: 1.25;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.instructions button {
	padding: .5rem .25rem;
	width: 50px;
	border: 1px solid #415D5D;
	transition: all .15s ease-in-out;
	margin: 1.5rem auto 0;
	display: block;
	color: rgba(246, 244, 241, 1);
	background: #415D5D;
	width: 150px;

}

.instructions button:hover {
	background: rgba(65, 93, 93, .8);
	cursor: pointer;
}

.instructions--hidden {
	display: none;
}
